<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Responsive Web Design</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    </head>

    <body>
        <header>
            <p>RWD EDUCATION</p>
            <nav>
                <ul>
                    <li>ABOUT</li>
                    <li>REVIEWS</li>
                    <li>CHAPTER LIST</li>
                    <li>BUY</li>
                    <li>CODE</li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <img src="{% static 'images/responsive-web-design-book-cover.avif' %}" alt="Cover Page of Responsive Web Design with HTML5 and CSS" />
                <h1>Responsive Web Design WITH HTML5 AND CSS</h1>
                <p>4th Edition</p>
                <p>
                    Since 2012, Responsive Web Design with HTML5 and CSS by Ben Frain has been Packt Publishing's
                    best-selling book on Responsive Web Design. Now there is a completely updated 4th Edition for 2022
                    and beyond!
                </p>
                <p>What's new in the 4th Edition?</p>
                <p>Looking for the 3rd Edition?</p>
            </section>

            <section>
                <h1>450+ INFO PACKED PAGES</h1>>
                <p>
                    CSS Cascade Layers, Container Queries, color functions, Media Queries, SVG, animations, transforms,
                    accessibility, Flexbox, Grid + Subgrid, Scroll Snap and much, much more.
                </p>

                <h1>SAMPLE CODE</h1>
                <p>
                    Each chapter has associated code examples to follow along with. You also get the source code for this
                    site which utilises many of the techniques you'll master throughout.
                </p>

                <h1>LATEST EDITION</h1>
                <p>
                    The 4th Edition of Packt’s best-selling Responsive Web Design title since 2012. Updated for 2022 and beyond,
                    including all the essential new CSS and HTML features.
                </p>

                <h1>IS IT FOR YOU?</h1>
                <p>
                    Are you a full-stack developer who needs to boost their front-end skills? Perhaps you work on the front-end and
                    you need a definitive overview of all modern HTML and CSS has to offer?
                </p>

                <p>
                    Maybe you have done a little website building but you need a deep understanding of how responsive web designs work
                    and how to achieve them? This is a book for you!
                </p>

                <p>Still not sure? Download the first chapter, FREE, now and see if it speaks to you.</p>

                <h1>WHAT WILL YOU LEARN?</h1>
                <p>
                    Understand the most fundamental parts of building a modern web site or application that will work across all devices.
                    You'll learn the best approaches for having a fast and accessible website that works just as well on the latest iPhone or
                    Android as a desktop computer.
                </p>

                <p>
                    The book covers everything from choosing the right tag to mark up content, to understanding the benefits of modern image formats
                    like AVIF and WebP — and everything essential in-between. It also covers all the latest features of CSS: Custom Properties, variable fonts,
                    CSS Grid and much, much more.
                </p>

                <ul>
                    <li><a>BUY FROM PACKT</a></li>
                    <li><a>BUY FROM AMAZON</a></li>
                </ul>

                <h1>NEW IN THE 4TH EDITION</h1>
                <p>
                    If you’ve only read an earlier Edition, you may be wondering if it’s worth your while.
                    Here’s a selection of the new topics covered in the 4th Edition, in no particular order:
                </p>

                <ul>
                    <li>CSS Layers</li>
                    <li>CSS Container Queries</li>
                    <li>New color functions and formats like P3 and LCH</li>
                    <li>has() , where() and is() selectors</li>
                    <li>CSS Nesting</li>
                    <li>The dialog element</li>
                    <li>clamp() , min() and max()</li>
                    <li>AVIF and WebP image formats</li>
                </ul>

                <h1>MAILING LIST</h1>
                <p>
                    Want updates from the author, Ben Frain? Subscribe to the infrequent newsletter — no spam, unsubscribe any time.
                </p>
                <input type="text" />
            </section>

            <section>
                <h1>FULL CHAPTER LIST</h1>
                <h2>THE ESSENTIALS OF RESPONSIVE WEB DESIGN</h2>
                <p>
                    By the end of this first chapter, you will have made a fully responsive web page. Along the way you will gain the understanding of where Responsive Web Design
                    came from, the problems it solves, and the core tenets of implementing a Responsive Web Design with HTML and CSS.
                    Download this chapter FREE
                </p>


                <h2>WRITING HTML MARKUP</h2>
                <p>
                    Good HTML markup is the basis for any good web site or application. More importantly, HTML provides a bedrock of understanding for assistive technology.
                    In this chapter you'll learn about everything from the opening <!DOCTYPE html> to the closing </html> tag.
                </p>

                <h2>MEDIA QUERIES AND CONTAINER QUERIES<</h2>
                <p>
                    Media queries provide the means to change styles on screen width, screen height, color preference, screen density (DPI) and a whole lot more. In this Chapter,
                    you'll also learn about CSS4 media queries like hover and pointer . We end the chapter with an overview of the forthcoming Container Queries; before long, we will be able to make container level style changes too.
                </p>

                <h2>FLUID LAYOUT AND FLEXBOX</h2>
                <p>
                    We start with understanding how to convert any web design into a proportional, fluid, layout. Then a deep-dive into Flexbox; the most widely supported modern CSS layout system.
                    You'll learn not just the syntax but also a number of use cases of Flexbox. Then you'll get your hands dirty; using what you have learned to lay out sections of this very site.
                </p>

                <h2>LAYOUT WITH CSS GRID</h2>
                <p>
                    CSS Grid is the first 2-dimensional layout system for the web. This whole chapter is dedicated to understanding the capabilities and efficiencies of CSS Grid. We'll also get to grips with the new subgrid property.
                    Understanding CSS Grid might just be the single biggest upgrade you can give your CSS skills!
                </p>


                <h2>CSS SELECTORS, TYPOGRAPHY AND MORE</h2>
                <p>
                    In this dense and varied chapter you'll be learning about the latest CSS selectors, like is() , where( ), and has().  Then you'll get to grips with new viewport-related units like dvh ,
                    and dvw . You'll also learn about typography on the web, covering variable fonts and the different methods of optimising font loading.
                </p>

                <h2>CSS COLOR</h2>
                <p>
                    You'll learn how to add an alpha channel to hex, rgb and hsl and learn how to use the newer, comma-less syntax.
                    You'll learn about P3 color, and how to add vibrant new colors you just can't express with rgb , hsl or hex . Then we move on to look at newer ways of expressing color such as Lab/LCH
                    and new color functions including color-mix() and color-contrast() .
                </p>

                <h2>STUNNING AESTHETICS WITH CSS</h2>
                <p>
                    Another chapter bursting with CSS goodness. Want to know about text and box shadows? What about multiple backgrounds and linear and radial gradients? Repeating gradients? CSS filters like blur
                    and sepia? Masks and Clipping? Mix-blend modes? It's all in here. And more besides!
                </p>

                    <h2>RESPONSIVE IMAGES</h2>
                <p>
                    The single biggest asset type on the web is images. It therefore stands to reason we should have a chapter dedicated to the most efficient ways of serving images up to users. You'll also learn about
                    the benefits of newer image formats like WebP and AVIF and how to make them available for the browsers that support them while still providing an alternative for those that don't.
                </p>

                <h2>SVG<</h2>
                <p>
                    SVGs are an essential part of a responsive developer's toolkit. You'll learn about practical use-cases for SVG; how to insert SVGs directly into markup, inside an object element, as a background image
                    and standard image. You'll also learn about how to use an SVG sprite sheet, and how SVGs can be animated and optimised for use on the web.
                </p>

                <h2>TRANSITIONS, TRANSFORMATIONS AND ANIMATIONS</h2>
                <p>
                    Transitions, transformations and animations, when used judiciously, can really bring a design to life. In this chapter you'll learn about all three. Before the chapter is done you'll be flipping things
                    back and forth in 3d space and using transforms to create a progressively enhanced off-canvas navigation pattern.
                </p>

                <h2>CUSTOM PROPERTIES AND CSS FUNCTIONS</h2>
                <p>
                    In this chapter you'll learn about the super-powers of Custom Properties. You'll learn how to set and read them in CSS and JavaScript, applicable use cases, and how to make use of them inside values and functions.
                    You'll also learn how to make use of newer CSS functions like min() , max() , and clamp() and understand how they are a perfect tool to deal with fluid typography in responsive design.
                </p>

                <h2>FORMS</h2>
                <p>
                    This chapter covers everything you are likely to need to know about forms. Topics include accessible form structure, the various elements of forms, form validation and the most recent CSS that allows better control
                    of form visuals than ever before. Oh, and lots of handy attributes to make the right keyboard appear on iOS and Android devices too!
                </p>

                <h2>CUTTING-EDGE CSS FEATURES</h2>
                <p>
                    You're going to learn about two recent additions to CSS in this chapter. One, CSS Layers, is already shipping and allows you more 'architectural' control over your stylesheets than ever before. The second is CSS Nesting.
                    If you've ever worked with 'super-set' languages like Sass you will understand the benefits. Nesting hasn't shipped in browsers yet, and the specification is subject to change but it is so important that we take an early look here.
                </p>

                <h2>BONUS TECHNIQUES AND PARTING ADVICE</h2>
                <p>
                    In the final chapter we will bring together all the knowledge learned so far and consider how best to approach a responsive project. We also consider some best-practice techniques to get your responsive projects off to the best possible start.
                    And just like 'Q' in James Bond, I won't let you leave without a few extra special techniques to help you in the field.
                </p>
            </section>
        </main>

        <footer>
            <h1>ABOUT</h1>
            <p>
                This site supports the book, Responsive Web Design with HTML5 and CSS, 4th edition
                ISBN 978-1-83921-156-0
                Website source code
                © copyright 2022 Ben Frain. All rights reserved.
            </p>
            <h1>BUY</h1>
            <ul>
                <li>Amazon US</li>
                <li>Amazon UK</li>
                <li>Packt</li>
            </ul>
            <h1>CONTACT</h1>
            <ul>
                <li>@benfrain on Twitter</li>
                <li>@benfrain on GitHub</li>
            </ul>
            Email: contact (at) benfrain dot com
        </footer>
    </body>
</html>